@{
    ViewData["SiteName"] = "The Joel Hilton Film Collection";
    ViewData["PageName"] = "Confirmation";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["SiteName"]</h1>
    <img src="~/img/JoelHilton.jpg" />
</div>

